<!DOCTYPE html>
<html>
    <body>
        <form method="post" action="/addition">
            <input type="number" name="val1">
            <input type="number" name="val2">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
